<h1 style="color:white;">Edit Customer</h1>

<%= render 'form' %>

<%= button_to 'Show', @customer,class:"btn btn-primary",method: :get,style:"margin:8px;"%> 
<%= button_to 'Back', customers_path,class:"btn btn-primary",method: :get,style:"margin:8px;" %>
